openapi: 3.2.0
info:
  title: atVenu Users API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 45 operation(s) read from 31 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; atVenu has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 43
    documentation: 2
    pages-with-code: 29
    pages-read: 31
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developer.zendesk.com/documentation/developer-tools/working-with-the-zendesk-apis/exploring-zendesk-apis-with-postman
  - https://developer.zendesk.com/documentation/ticketing/events/getting-started-with-events
  - https://developer.zendesk.com/documentation/ticketing/profiles/getting-started-with-profiles
  - https://developer.zendesk.com/documentation/custom-data/custom-objects/getting-started-with-custom-objects
  - https://developer.zendesk.com/documentation/developer-tools/getting-started/getting-a-trial-or-sponsored-account-for-development
  - https://developer.zendesk.com/api-reference/ticketing/introduction
  - https://developer.zendesk.com/api-reference/status_api/status_api
  - https://developer.zendesk.com/api-reference/live-chat/chat-conversations-api/conversations-api
  - https://developer.zendesk.com/api-reference/integration-services/configs/configs
  - https://developer.zendesk.com/api-reference/integration-services/connections/all_connections
  - https://developer.zendesk.com/api-reference/integration-services/inbound-webhooks/inbound_webhooks
  - https://developer.zendesk.com/api-reference/integration-services/links/links
  - https://developer.zendesk.com/api-reference/integration-services/registry/bundles
  - https://developer.zendesk.com/documentation/webhooks/creating-and-monitoring-webhooks
  - https://developer.zendesk.com/documentation/event-connectors/webhooks/creating-and-monitoring-webhooks
  - https://developer.zendesk.com/documentation/api-basics/getting-started/getting-a-trial-or-sponsored-account-for-development
  - https://developer.zendesk.com/documentation/api-basics/getting-started/installing-and-using-curl
  - https://developer.zendesk.com/documentation/api-basics/getting-started/exploring-zendesk-apis-with-postman
  - https://developer.zendesk.com/documentation/api-basics/best-practices/best-practices-for-avoiding-rate-limiting
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/working-with-json
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/searching-with-the-zendesk-api
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/side_loading
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/using-the-incremental-export-api
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/exporting-users
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/importing-users-with-the-zendesk-api
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/exporting-access-logs
  - https://developer.zendesk.com/documentation/api-basics/pagination/paginating-through-lists-using-cursor-pagination
  - https://developer.zendesk.com/documentation/api-basics/pagination/paginating-through-lists-using-offset-pagination
  - https://developer.zendesk.com/documentation/api-basics/pagination/paginating-through-lists
  - https://developer.zendesk.com/documentation/api-basics/pagination/understanding-the-limitations-of-offset-pagination
  - https://developer.zendesk.com/documentation/api-basics/working-with-the-zendesk-apis/exploring-zendesk-apis-with-postman
servers:
- url: https://support.zendesk.com
security:
- bearer: []
tags:
- name: Users
paths:
  /api/v2/users/create_many.json:
    post:
      operationId: post_api_v2_users_create_many_json
      tags:
      - Users
      summary: The following endpoint in the Users API lets you import multiple users at once
      description: Creates up to 100 users per request.
      x-source: https://developer.zendesk.com/documentation/api-basics/working-with-data/importing-users-with-the-zendesk-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV2UsersCreateManyJsonRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /api/v2/users/{userid}:
    get:
      operationId: get_api_v2_users_userid
      tags:
      - Users
      summary: GET /api/v2/users/11.json
      x-source: https://developer.zendesk.com/documentation/api-basics/working-with-data/side_loading
      parameters:
      - name: userid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV2UsersUseridResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl Exploring Zendesk APIs with Postman Frequently asked questions REST API glossary Best practices Best practices for avoiding rate limiting Using audit logs to track activity Using events to automate interactions Working with url properties Security best practices Working With Data Working with JSON Using the Search API Understanding sideloading Side-loading related records Getting large data s
        collapsed_from: 2 example path(s) differing only at userId
  /api/v2/users/{userId}/events:
    post:
      operationId: post_api_v2_users_userId_events
      tags:
      - Users
      summary: Create an event directly for a Zendesk user
      description: You don't need to directly associate the event with a Zendesk user, though you could with the following request.
      x-source: https://developer.zendesk.com/documentation/ticketing/events/getting-started-with-events
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV2UsersUseridEventsRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV2UsersUseridEventsResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    PostApiV2UsersCreateManyJsonRequest:
      type: object
      properties:
        users:
          type: array
          description: A list of user objects to create.
      required:
      - users
    PostApiV2UsersUseridEventsResponse:
      type: object
      properties:
        status:
          type: string
          description: Indicates the event was received
    GetApiV2UsersUseridResponse:
      type: object
      properties:
        tickets:
          type: array
          items:
            type: object
            properties:
              requester_id:
                type: integer
    PostApiV2UsersUseridEventsRequest:
      type: object
      properties:
        profile:
          type: object
          description: Profile that associates the person with a Zendesk user
        event:
          type: object
          description: Event data to be recorded
      required:
      - profile
      - event
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
