openapi: 3.2.0
info:
  title: AtVenu API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 45 operation(s) read from 31 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; atVenu has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 43
    documentation: 2
    pages-with-code: 29
    pages-read: 31
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developer.zendesk.com/documentation/developer-tools/working-with-the-zendesk-apis/exploring-zendesk-apis-with-postman
  - https://developer.zendesk.com/documentation/ticketing/events/getting-started-with-events
  - https://developer.zendesk.com/documentation/ticketing/profiles/getting-started-with-profiles
  - https://developer.zendesk.com/documentation/custom-data/custom-objects/getting-started-with-custom-objects
  - https://developer.zendesk.com/documentation/developer-tools/getting-started/getting-a-trial-or-sponsored-account-for-development
  - https://developer.zendesk.com/api-reference/ticketing/introduction
  - https://developer.zendesk.com/api-reference/status_api/status_api
  - https://developer.zendesk.com/api-reference/live-chat/chat-conversations-api/conversations-api
  - https://developer.zendesk.com/api-reference/integration-services/configs/configs
  - https://developer.zendesk.com/api-reference/integration-services/connections/all_connections
  - https://developer.zendesk.com/api-reference/integration-services/inbound-webhooks/inbound_webhooks
  - https://developer.zendesk.com/api-reference/integration-services/links/links
  - https://developer.zendesk.com/api-reference/integration-services/registry/bundles
  - https://developer.zendesk.com/documentation/webhooks/creating-and-monitoring-webhooks
  - https://developer.zendesk.com/documentation/event-connectors/webhooks/creating-and-monitoring-webhooks
  - https://developer.zendesk.com/documentation/api-basics/getting-started/getting-a-trial-or-sponsored-account-for-development
  - https://developer.zendesk.com/documentation/api-basics/getting-started/installing-and-using-curl
  - https://developer.zendesk.com/documentation/api-basics/getting-started/exploring-zendesk-apis-with-postman
  - https://developer.zendesk.com/documentation/api-basics/best-practices/best-practices-for-avoiding-rate-limiting
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/working-with-json
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/searching-with-the-zendesk-api
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/side_loading
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/using-the-incremental-export-api
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/exporting-users
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/importing-users-with-the-zendesk-api
  - https://developer.zendesk.com/documentation/api-basics/working-with-data/exporting-access-logs
  - https://developer.zendesk.com/documentation/api-basics/pagination/paginating-through-lists-using-cursor-pagination
  - https://developer.zendesk.com/documentation/api-basics/pagination/paginating-through-lists-using-offset-pagination
  - https://developer.zendesk.com/documentation/api-basics/pagination/paginating-through-lists
  - https://developer.zendesk.com/documentation/api-basics/pagination/understanding-the-limitations-of-offset-pagination
  - https://developer.zendesk.com/documentation/api-basics/working-with-the-zendesk-apis/exploring-zendesk-apis-with-postman
servers:
- url: https://support.zendesk.com
security:
- bearer: []
tags:
- name: AtVenu API
paths:
  /:
    get:
      operationId: get
      tags:
      - AtVenu API
      summary: GET /
      x-source: https://developer.zendesk.com/documentation/developer-tools/working-with-the-zendesk-apis/exploring-zendesk-apis-with-postman
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl Exploring Zendesk APIs with Postman Frequently asked questions REST API glossary Best practices Best practices for avoiding rate limiting Using audit logs to track activity Using events to automate interactions Working with url properties Security best practices Working With Data Working with JSON Using the Search API Understanding sideloading Side-loading related records Getting large data s
  /api/v2/{v2id}:
    get:
      operationId: get_api_v2_v2id
      tags:
      - AtVenu API
      summary: The Access Logs API lets admins export up to the last 90 days of account access…
      x-source: https://developer.zendesk.com/documentation/api-basics/working-with-data/exporting-access-logs
      parameters:
      - name: v2id
        in: path
        required: true
        schema:
          type: string
      - name: filter[start]
        in: query
        required: false
        schema:
          type: string
        description: Start of the time range for logs (ISO 8601).
      - name: filter[end]
        in: query
        required: false
        schema:
          type: string
        description: End of the time range for logs (ISO 8601).
      - name: filter[user_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter logs for a specific user ID.
      - name: page[size]
        in: query
        required: false
        schema:
          type: string
        description: Maximum number of records per page (up to 2500).
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV2V2IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 10 example path(s) differing only at v2Id
components:
  schemas:
    GetApiV2V2IdResponse:
      type: object
      properties:
        groups:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
              id:
                type: integer
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
